In [1]:
import pandas as pd

In [45]:
import numpy as np
import matplotlib.pyplot as plt

In [3]:
allprices = pd.read_csv("Datasets/Prices_E_All_Data.csv", encoding = "latin1")

In [8]:
allprices.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1991,Y1991F,Y1992,...,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F
0,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),LCU,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),SLC,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Afghanistan,515,Apples,5530,Producer Price (LCU/tonne),LCU,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,Afghanistan,515,Apples,5531,Producer Price (SLC/tonne),SLC,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,Afghanistan,526,Apricots,5530,Producer Price (LCU/tonne),LCU,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
#Datatype per column
allprices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26551 entries, 0 to 26550
Data columns (total 34 columns):
Area Code       26551 non-null int64
Area            26551 non-null object
Item Code       26551 non-null int64
Item            26551 non-null object
Element Code    26551 non-null int64
Element         26551 non-null object
Unit            26551 non-null object
Y1991           10675 non-null float64
Y1992           11813 non-null float64
Y1993           13488 non-null float64
Y1994           14437 non-null float64
Y1995           15498 non-null float64
Y1996           16239 non-null float64
Y1997           16914 non-null float64
Y1998           17748 non-null float64
Y1999           17983 non-null float64
Y2000           18868 non-null float64
Y2001           19221 non-null float64
Y2002           19344 non-null float64
Y2003           19408 non-null float64
Y2004           19043 non-null float64
Y2005           19178 non-null float64
Y2006           19349 non-null float64
Y2007           19417 non-null float64
Y2008           19360 non-null float64
Y2009           18874 non-null float64
Y2010           18836 non-null float64
Y2011           18803 non-null float64
Y2012           18388 non-null float64
Y2013           18058 non-null float64
Y2014           17205 non-null float64
Y2015           16603 non-null float64
Y2016           15192 non-null float64
Y2017           12095 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 6.9+ MB

In [7]:
#See columns and unique values
for column in allprices:
    print(column)
    print(allprices[column].unique())

Area Code
[  2   3   4   7   8   9   1  10  11  52  16  14  57 255  15  23  53  18
  19  80  20  21  26  27 233  29  35 115  32  33  37  39  40 351  96  41
  44  45  46  47  48 107  98  49  50 167  51  54  56  58  59  60  61 178
  63 238  62  66  67  68  69  70  75  73  79  81  84  86  87  89  90 175
  91  93  95  97  99 100 101 102 103 104 105 106 109 110 112 108 114 118
 113 120 119 121 122 126 256 129 130 131 132 133 134 135 136 137 138 141
 143 144  28 147 149 150 153 156 157 158 159 162 299 221 165 166 169 170
 171 173 174 177 179 117 146 182 183 185 184 188 189 191 244 194 195 272
 186 196 197 200 199 198 202 203  38 276 206 207 210 211 212 208 216 154
 176 217 220 222 223 213 230 229 215 231 234 155 236 237 249 251 181]
Area
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belgium-Luxembourg' 'Belize' 'Benin'
 'Bhutan' 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada'
 'Central African Republic' 'Chad' 'Chile' 'China' 'China, Hong Kong SAR'
 'China, mainland' 'Colombia' 'Comoros' 'Congo' 'Cook Islands'
 'Costa Rica' "CÃ´te d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 'Czechoslovakia' 'Denmark' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia'
 'Ethiopia PDR' 'Fiji' 'Finland' 'France' 'French Guiana'
 'French Polynesia' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Grenada' 'Guadeloupe' 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana'
 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica'
 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho'
 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives'
 'Mali' 'Malta' 'Martinique' 'Mauritania' 'Mauritius' 'Mexico' 'Mongolia'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Norway'
 'Occupied Palestinian Territory' 'Oman' 'Pakistan' 'Panama' 'Paraguay'
 'Peru' 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Republic of Korea' 'Republic of Moldova' 'RÃ©union' 'Romania'
 'Russian Federation' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Serbia and Montenegro' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Sudan (former)' 'Suriname' 'Sweden' 'Switzerland' 'Syrian Arab Republic'
 'Tajikistan' 'Thailand' 'The former Yugoslav Republic of Macedonia'
 'Timor-Leste' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Ukraine' 'United Kingdom' 'United Republic of Tanzania'
 'United States of America' 'Uruguay' 'Vanuatu'
 'Venezuela (Bolivarian Republic of)' 'Viet Nam' 'Yemen' 'Zambia'
 'Zimbabwe']
Item Code
[ 221  515  526   44  767 1062  560   56  945 1013  867  977  568  982
  490  223  116   27  328  222  567   15  987  176  414  358  426  393
  531  220  401  397  577  399  569  619  406 1182  407  497  372 1095
 1071 1033 1078 1056 1088 1058 1017 1035 1080  882 1020  234   75  430
  260  403  402  534  521  187  417  536  394  523   71  236  373  267
  495  826  388  463  420  366  181  191  689  512  201  211   83   97
  205  572  486  125  656  242  571   79  574  122  137  711  367 1183
  101  329  507  333  671 1121 1145  544  156  667  550  541 1141  449
  195  677  592  210  600  587  270  547  280  558  530  549 1069 1073
 1097  339  296  157  225  446 1123  973 1108  947  951  687 1185  226
  249 1091  720  780  289  485  488  487  489  423   89  108  554  773
  542  459  217  661  149  135  136 1166  292  702  723  603   92  836
  782  216  591  265  839  254  788  789  275  693  748  203   94  263
 1127  257  256  197  552 1125 1111  336 1138  299  161 1163  224  103
  461 1089  809 1085  800  821  698  692 1130  754  484   68 1162 1158
  674  310]
Item
['Almonds, with shell' 'Apples' 'Apricots' 'Barley' 'Cotton lint'
 'Eggs, hen, in shell' 'Grapes' 'Maize' 'Meat live weight, cattle'
 'Meat live weight, sheep' 'Meat, cattle' 'Meat, sheep'
 'Melons, other (inc.cantaloupes)' 'Milk, whole fresh sheep' 'Oranges'
 'Pistachios' 'Potatoes' 'Rice, paddy' 'Seed cotton' 'Walnuts, with shell'
 'Watermelons' 'Wheat' 'Wool, greasy' 'Beans, dry' 'Beans, green'
 'Cabbages and other brassicas' 'Carrots and turnips'
 'Cauliflowers and broccoli' 'Cherries' 'Chestnut'
 'Chillies and peppers, green' 'Cucumbers and gherkins' 'Dates'
 'Eggplants (aubergines)' 'Figs' 'Fruit, fresh nes' 'Garlic'
 'Honey, natural' 'Leeks, other alliaceous vegetables' 'Lemons and limes'
 'Lettuce and chicory' 'Meat live weight, chicken'
 'Meat live weight, duck' 'Meat live weight, goat'
 'Meat live weight, goose' 'Meat live weight, pig'
 'Meat live weight, turkey' 'Meat, chicken' 'Meat, goat' 'Meat, pig'
 'Meat, turkey' 'Milk, whole fresh cow' 'Milk, whole fresh goat'
 'Nuts, nes' 'Oats' 'Okra' 'Olives' 'Onions, dry'
 'Onions, shallots, green' 'Peaches and nectarines' 'Pears' 'Peas, dry'
 'Peas, green' 'Plums and sloes' 'Pumpkins, squash and gourds' 'Quinces'
 'Rye' 'Soybeans' 'Spinach' 'Sunflower seed'
 'Tangerines, mandarins, clementines, satsumas' 'Tobacco, unmanufactured'
 'Tomatoes' 'Vegetables, fresh nes' 'Vegetables, leguminous nes'
 'Artichokes' 'Broad beans, horse beans, dry' 'Chick peas'
 'Chillies and peppers, dry' 'Fruit, citrus nes' 'Lentils' 'Pulses, nes'
 'Sorghum' 'Triticale' 'Vetches' 'Avocados' 'Bananas' 'Cassava'
 'Coffee, green' 'Groundnuts, with shell' 'Mangoes, mangosteens, guavas'
 'Millet' 'Pineapples' 'Sweet potatoes' 'Yams'
 'Anise, badian, fennel, coriander' 'Asparagus' 'Beeswax' 'Canary seed'
 'Cottonseed' 'Grapefruit (inc. pomelos)' 'Linseed' 'MatÃ©'
 'Meat live weight, horse' 'Meat live weight, rabbit' 'Strawberries'
 'Sugar cane' 'Tea' 'Currants' 'Fruit, stone nes' 'Meat, rabbit'
 'Mushrooms and truffles' 'Cow peas, dry' 'Hops' 'Kiwi fruit' 'Lupins'
 'Papayas' 'Persimmons' 'Rapeseed' 'Raspberries' 'Safflower seed'
 'Berries nes' 'Cherries, sour' 'Gooseberries' 'Meat, duck'
 'Meat, goose and guinea fowl' 'Meat, horse' 'Oilseeds nes' 'Poppy seed'
 'Sugar beet' 'Hazelnuts, with shell' 'Maize, green'
 'Meat live weight, ass' 'Meat live weight, buffalo' 'Meat, ass'
 'Meat, buffalo' 'Milk, whole fresh buffalo' 'Pepper (piper spp.)'
 'Silk-worm cocoons, reelable' 'Areca nuts' 'Coconuts'
 'Eggs, other bird, in shell' 'Ginger' 'Jute' 'Sesame seed'
 'Bananas non-Cavendish' 'Cooking bananas' 'Plantains'
 'Plantains and others' 'String beans' 'Buckwheat' 'Cereals, nes'
 'Cranberries' 'Flax fibre and tow' 'Fruit, pome nes' 'Chicory roots'
 'Cashew nuts, with shell' 'Cocoa, beans' 'Roots and tubers, nes'
 'Yautia (cocoyam)' 'Taro (cocoyam)' 'Meat, nes' 'Mustard seed'
 'Nutmeg, mace and cardamoms' 'Spices, nes' 'Fruit, tropical fresh nes'
 'Quinoa' 'Rubber, natural' 'Bastfibres, other' 'Brazil nuts, with shell'
 'Cashewapple' 'Castor oil seed' 'Gums, natural' 'Oil palm fruit' 'Ramie'
 'Sisal' 'Tung nuts' 'Cinnamon (canella)' 'Peppermint' 'Bambara beans'
 'Fonio' 'Karite nuts (sheanuts)' 'Meat, camel' 'Oil, palm' 'Palm kernels'
 'Pigeon peas' 'Blueberries' 'Meat live weight, mule' 'Meat, mule'
 'Hempseed' 'Meat live weight, camel' 'Melonseed' 'Sugar crops, nes'
 'Meat, game' 'Kola nuts' 'Grain, mixed' 'Carobs' 'Meat, bird nes'
 'Manila fibre (abaca)' 'Meat live weight, poultry, other'
 'Agave fibres nes' 'Fibre crops nes' 'Cloves' 'Vanilla'
 'Milk, whole fresh camel' 'Pyrethrum, dried' 'Bananas Cavendish'
 'Popcorn' 'Meat live weight, camelids, other' 'Meat, other camelids'
 'Tea nes' 'Kapok fruit']
Element Code
[5530 5531 5532]
Element
['Producer Price (LCU/tonne)' 'Producer Price (SLC/tonne)'
 'Producer Price (USD/tonne)']
Unit
['LCU' 'SLC' 'USD']
Y1991
[         nan 1.137374e+05 3.753330e+04 ... 1.220000e+01 2.667000e+03
 1.157300e+04]
Y1991F
[nan 'Fc' '*' 'Ce']
Y1992
[         nan 1.137374e+05 3.753330e+04 ... 9.950000e+02 8.104000e+03
 2.240000e+01]
Y1992F
[nan 'Fc' '*' 'F' 'Ce']
Y1993
[4.600e+04 6.100e+03 2.900e+04 ... 7.400e+00 1.472e+03 2.200e+00]
Y1993F
[nan 'Fc' 'Ce' 'F' '*']
Y1994
[5.00e+04 6.20e+03 3.30e+04 ... 3.59e+01 2.78e+03 4.00e+00]
Y1994F
[nan 'Fc' 'F' 'Ce' '*']
Y1995
[6.20e+04 4.50e+03 3.60e+04 ... 4.88e+01 8.30e+00 6.20e+00]
Y1995F
[nan 'Fc' 'F' 'Ce' '*']
Y1996
[5.00e+04 1.60e+04 3.40e+04 ... 7.94e+01 1.11e+01 7.00e+00]
Y1996F
[nan 'Fc' 'F' 'Ce' '*']
Y1997
[4.1000e+04 1.8500e+04 3.1000e+04 ... 2.8000e+00 1.4083e+04 2.6441e+04]
Y1997F
[nan 'Fc' 'F' 'Ce' '*']
Y1998
[4.200e+04 1.280e+04 4.800e+04 ... 3.890e+01 3.438e+04 1.380e+01]
Y1998F
[nan 'Fc' 'F' '*' 'Ce']
Y1999
[5.200e+04 2.480e+04 5.400e+04 ... 3.085e+04 6.590e+04 1.520e+01]
Y1999F
[nan 'Fc' 'F' '*' 'Ce']
Y2000
[6.7000e+04 1.2500e+04 5.3000e+04 ... 9.7700e+01 8.0731e+04 1.7400e+01]
Y2000F
[nan 'Fc' 'F' '*' 'Ce']
Y2001
[8.300e+04 1.200e+04 5.100e+04 ... 4.825e+02 3.730e+01 2.550e+04]
Y2001F
[nan 'Fc' 'F' '*' 'Ce']
Y2002
[ 75000.   15000.   56000.  ...    542.1 358730.   37730. ]
Y2002F
[nan 'Fc' 'F' '*' 'Ce']
Y2003
[ 89000.   14000.   61000.  ...   1489.4 776205.    2144.8]
Y2003F
[nan 'Fc' 'F' 'Ce' '*']
Y2004
[  91000.    13200.    59100.  ...   23803.1 1749218.     4833.4]
Y2004F
[nan 'Fc' 'F' 'Ce' '*']
Y2005
[  90200.    11000.    51200.  ...   62791.5 6920780.    19123.5]
Y2005F
[nan 'Fc' 'F' 'Ce']
Y2006
[1.314033e+05 1.458000e+04 4.345330e+04 ... 9.727861e+05 2.179000e+08
 6.021000e+05]
Y2006F
['F' 'Fc' nan 'Ce']
Y2007
[1.72606700e+05 1.81600000e+04 3.57067000e+04 ... 2.64958880e+06
 7.23200782e+08 1.99834420e+06]
Y2007F
['F' 'Fc' nan 'Ce']
Y2008
[2.1381e+05 2.1740e+04 2.7960e+04 ... 1.2815e+03 3.4000e+06 9.0770e+02]
Y2008F
[nan 'Fc' 'F' 'Ce']
Y2009
[1.860e+05 2.500e+04 2.507e+04 ... 9.909e+02 4.900e+06 9.710e+02]
Y2009F
[nan 'Fc' 'F' 'Ce']
Y2010
[2.157e+05 2.507e+04 3.000e+04 ... 7.585e+02 1.100e+02 2.890e+03]
Y2010F
[nan 'Fc' 'F' 'Ce']
Y2011
[230900.   24200.   27100.  ...    814.5   2730.1    466. ]
Y2011F
[nan 'Fc' 'F']
Y2012
[2.405000e+05 2.260000e+04 2.450000e+04 ... 4.369405e+06 4.369400e+03
 3.670000e+03]
Y2012F
[nan 'Fc' 'F']
Y2013
[      nan 1188753.6  392288.7 ...  188188.    90475.   168645.4]
Y2013F
[nan 'Fc' 'F']
Y2014
[          nan 1.0075349e+06 3.3248650e+05 ... 5.8000000e+02 3.1600000e+03
 4.6600000e+02]
Y2014F
[nan 'Fc' 'F']
Y2015
[         nan 9.874836e+05 3.258696e+05 ... 5.654200e+03 6.550000e+02
 3.100000e+02]
Y2015F
[nan 'Fc' 'F']
Y2016
[          nan 4.7335900e+04 3.8130000e+02 ... 9.2140000e+02 1.0179267e+06
 4.7370000e+03]
Y2016F
[nan 'Fc' 'F']
Y2017
[        nan 5.49794e+04 4.61600e+02 ... 2.15980e+03 6.42500e+06
 2.82700e+02]
Y2017F
[nan]

In [9]:
#Remove columns YxxxxF as they do not have values
allprices = allprices[allprices.columns.drop(list(allprices.filter(regex='F')))]

### New dataframe including only Mexico, USA and Canada considering prices in USD

In [19]:
#Selecting only North America Countries
northAmerica = ["Mexico", "United States of America", "Canada"]
nap = allprices.loc[allprices["Area"].isin(northAmerica)]

In [29]:
#Selecting prices in USD 
nap = nap[nap["Element"] == "Producer Price (USD/tonne)"]

In [30]:
nap.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1991,Y1992,Y1993,...,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017
4268,33,Canada,515,Apples,5532,Producer Price (USD/tonne),USD,247.0,221.7,205.4,...,383.8,361.3,397.8,408.0,529.5,553.0,475.2,414.8,429.4,471.8
4271,33,Canada,526,Apricots,5532,Producer Price (USD/tonne),USD,807.4,614.7,709.3,...,1404.8,1165.6,1363.4,1585.6,1390.6,1657.1,1317.0,1328.9,1426.6,1459.1
4274,33,Canada,367,Asparagus,5532,Producer Price (USD/tonne),USD,1840.8,1981.4,1958.8,...,2770.2,2694.8,3355.5,3440.6,3673.9,3479.0,3425.4,3133.3,3105.6,3516.5
4277,33,Canada,44,Barley,5532,Producer Price (USD/tonne),USD,64.6,62.9,55.8,...,207.1,164.5,141.7,195.0,224.9,237.3,169.0,174.1,166.3,148.8
4280,33,Canada,176,"Beans, dry",5532,Producer Price (USD/tonne),USD,255.7,285.4,272.9,...,740.7,659.0,636.7,843.0,946.6,817.5,793.6,726.4,656.7,622.5

### Maize

In [96]:
maizeM = nap[nap["Item"] == "Maize"]
maizeM

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1991,Y1992,Y1993,...,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017
4352,33,Canada,56,Maize,5532,Producer Price (USD/tonne),USD,94.3,81.1,102.3,...,186.8,159.1,166.8,238.6,258.7,224.8,167.8,150.4,146.2,146.7
15448,138,Mexico,56,Maize,5532,Producer Price (USD/tonne),USD,234.2,245.9,246.5,...,253.1,207.4,222.9,328.2,304.5,263.5,234.4,216.0,189.2,190.7
25420,231,United States of America,56,Maize,5532,Producer Price (USD/tonne),USD,93.0,81.0,98.0,...,160.0,140.0,204.0,245.0,271.0,176.0,146.0,142.0,132.0,130.0

In [118]:
#Check values available per food Item
for item in items:
    print(item)
    nap[nap["Item"] == item].info()

Apples
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4268 to 25285
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           3 non-null float64
Y1992           3 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           2 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Apricots
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4271 to 25288
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           2 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Asparagus
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4274 to 25297
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           3 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Barley
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4277 to 25306
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           3 non-null float64
Y1992           3 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           3 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Beans, dry
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4280 to 25309
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           3 non-null float64
Y1992           3 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           3 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Beans, green
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4283 to 25312
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           2 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           3 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Blueberries
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4286 to 25318
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           1 non-null float64
Y1992           2 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           2 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Broad beans, horse beans, dry
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 4289 to 15331
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           2 non-null float64
Y2004           2 non-null float64
Y2005           2 non-null float64
Y2006           2 non-null float64
Y2007           2 non-null float64
Y2008           2 non-null float64
Y2009           2 non-null float64
Y2010           2 non-null float64
Y2011           2 non-null float64
Y2012           2 non-null float64
Y2013           2 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           1 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 560.0+ bytes
Buckwheat
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 4292 to 4292
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           0 non-null float64
Y1992           0 non-null float64
Y1993           0 non-null float64
Y1994           0 non-null float64
Y1995           0 non-null float64
Y1996           0 non-null float64
Y1997           0 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           0 non-null float64
Y2004           0 non-null float64
Y2005           0 non-null float64
Y2006           0 non-null float64
Y2007           0 non-null float64
Y2008           0 non-null float64
Y2009           0 non-null float64
Y2010           0 non-null float64
Y2011           0 non-null float64
Y2012           0 non-null float64
Y2013           0 non-null float64
Y2014           0 non-null float64
Y2015           0 non-null float64
Y2016           0 non-null float64
Y2017           0 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Cabbages and other brassicas
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4295 to 25321
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           2 non-null float64
Y1992           3 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           2 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Canary seed
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 4298 to 15337
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           2 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           2 non-null float64
Y2004           2 non-null float64
Y2005           2 non-null float64
Y2006           2 non-null float64
Y2007           2 non-null float64
Y2008           2 non-null float64
Y2009           2 non-null float64
Y2010           2 non-null float64
Y2011           2 non-null float64
Y2012           2 non-null float64
Y2013           2 non-null float64
Y2014           2 non-null float64
Y2015           2 non-null float64
Y2016           2 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 560.0+ bytes
Carrots and turnips
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4301 to 25324
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           2 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           3 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Cauliflowers and broccoli
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4304 to 25327
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           3 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Cherries
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4307 to 25330
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           3 non-null float64
Y1992           3 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           2 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Cherries, sour
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 4310 to 25333
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           2 non-null float64
Y1996           2 non-null float64
Y1997           2 non-null float64
Y1998           2 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4379 to 25450
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           2 non-null float64
Y1996           2 non-null float64
Y1997           2 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Meat, sheep
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4382 to 25453
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           1 non-null float64
Y1996           2 non-null float64
Y1997           2 non-null float64
Y1998           2 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           2 non-null float64
Y2012           2 non-null float64
Y2013           2 non-null float64
Y2014           2 non-null float64
Y2015           2 non-null float64
Y2016           2 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Meat, turkey
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4385 to 25456
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           0 non-null float64
Y1996           0 non-null float64
Y1997           0 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           2 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Melons, other (inc.cantaloupes)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4388 to 25459
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           1 non-null float64
Y1992           2 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           3 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Milk, whole fresh cow
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4391 to 25462
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           3 non-null float64
Y1992           3 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           3 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Mushrooms and truffles
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 4394 to 25468
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           2 non-null float64
Y1996           2 non-null float64
Y1997           2 non-null float64
Y1998           2 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           2 non-null float64
Y2004           2 non-null float64
Y2005           2 non-null float64
Y2006           2 non-null float64
Y2007           2 non-null float64
Y2008           2 non-null float64
Y2009           2 non-null float64
Y2010           2 non-null float64
Y2011           2 non-null float64
Y2012           2 non-null float64
Y2013           2 non-null float64
Y2014           2 non-null float64
Y2015           2 non-null float64
Y2016           2 non-null float64
Y2017           2 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 560.0+ bytes
Mustard seed
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4397 to 25471
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           3 non-null float64
Y1992           3 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Oats
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4400 to 25477
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           3 non-null float64
Y1992           3 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           3 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Onions, dry
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 4403 to 25486
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           2 non-null float64
Y2004           2 non-null float64
Y2005           2 non-null float64
Y2006           2 non-null float64
Y2007           2 non-null float64
Y2008           2 non-null float64
Y2009           2 non-null float64
Y2010           2 non-null float64
Y2011           2 non-null float64
Y2012           2 non-null float64
Y2013           2 non-null float64
Y2014           2 non-null float64
Y2015           2 non-null float64
Y2016           2 non-null float64
Y2017           2 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 560.0+ bytes
Peaches and nectarines
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4406 to 25498
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           3 non-null float64
Y1992           3 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           2 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Pears
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4409 to 25501
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           3 non-null float64
Y1992           3 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           2 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Peas, dry
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4412 to 25504
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           2 non-null float64
Y1992           3 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           3 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Peas, green
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4415 to 25507
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           3 non-null float64
Y1992           3 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           3 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Plums and sloes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4418 to 25516
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64
Y2004           3 non-null float64
Y2005           3 non-null float64
Y2006           3 non-null float64
Y2007           3 non-null float64
Y2008           3 non-null float64
Y2009           3 non-null float64
Y2010           3 non-null float64
Y2011           3 non-null float64
Y2012           3 non-null float64
Y2013           3 non-null float64
Y2014           3 non-null float64
Y2015           3 non-null float64
Y2016           3 non-null float64
Y2017           2 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 840.0+ bytes
Potatoes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4421 to 25519
Data columns (total 34 columns):
Area Code       3 non-null int64
Area            3 non-null object
Item Code       3 non-null int64
Item            3 non-null object
Element Code    3 non-null int64
Element         3 non-null object
Unit            3 non-null object
Y1991           3 non-null float64
Y1992           3 non-null float64
Y1993           3 non-null float64
Y1994           3 non-null float64
Y1995           3 non-null float64
Y1996           3 non-null float64
Y1997           3 non-null float64
Y1998           3 non-null float64
Y1999           3 non-null float64
Y2000           3 non-null float64
Y2001           3 non-null float64
Y2002           3 non-null float64
Y2003           3 non-null float64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 15304 to 25300
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           2 non-null float64
Y1996           2 non-null float64
Y1997           2 non-null float64
Y1998           2 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           2 non-null float64
Y2004           2 non-null float64
Y2005           2 non-null float64
Y2006           2 non-null float64
Y2007           2 non-null float64
Y2008           2 non-null float64
Y2009           2 non-null float64
Y2010           2 non-null float64
Y2011           2 non-null float64
Y2012           2 non-null float64
Y2013           2 non-null float64
Y2014           2 non-null float64
Y2015           2 non-null float64
Y2016           2 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 560.0+ bytes
Bananas
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 15307 to 25303
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           2 non-null float64
Y1996           2 non-null float64
Y1997           2 non-null float64
Y1998           2 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           2 non-null float64
Y2004           2 non-null float64
Y2005           2 non-null float64
Y2006           2 non-null float64
Y2007           2 non-null float64
Y2008           2 non-null float64
Y2009           2 non-null float64
Y2010           2 non-null float64
Y2011           2 non-null float64
Y2012           2 non-null float64
Y2013           2 non-null float64
Y2014           2 non-null float64
Y2015           2 non-null float64
Y2016           1 non-null float64
Y2017           0 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 560.0+ bytes
Bananas non-Cavendish
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15310 to 15310
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           0 non-null float64
Y1992           0 non-null float64
Y1993           0 non-null float64
Y1994           0 non-null float64
Y1995           0 non-null float64
Y1996           0 non-null float64
Y1997           0 non-null float64
Y1998           0 non-null float64
Y1999           0 non-null float64
Y2000           0 non-null float64
Y2001           0 non-null float64
Y2002           0 non-null float64
Y2003           0 non-null float64
Y2004           0 non-null float64
Y2005           0 non-null float64
Y2006           0 non-null float64
Y2007           0 non-null float64
Y2008           0 non-null float64
Y2009           0 non-null float64
Y2010           0 non-null float64
Y2011           0 non-null float64
Y2012           1 non-null float64
Y2013           1 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           1 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Beeswax
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15322 to 15322
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           1 non-null float64
Y2005           1 non-null float64
Y2006           1 non-null float64
Y2007           1 non-null float64
Y2008           1 non-null float64
Y2009           1 non-null float64
Y2010           1 non-null float64
Y2011           1 non-null float64
Y2012           1 non-null float64
Y2013           1 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           1 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Berries nes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 15325 to 25315
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           2 non-null float64
Y1996           2 non-null float64
Y1997           2 non-null float64
Y1998           2 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           2 non-null float64
Y2004           1 non-null float64
Y2005           1 non-null float64
Y2006           1 non-null float64
Y2007           1 non-null float64
Y2008           1 non-null float64
Y2009           1 non-null float64
Y2010           1 non-null float64
Y2011           1 non-null float64
Y2012           1 non-null float64
Y2013           1 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           1 non-null float64
Y2017           0 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 560.0+ bytes
Carobs
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15340 to 15340
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           1 non-null float64
Y2005           1 non-null float64
Y2006           1 non-null float64
Y2007           1 non-null float64
Y2008           1 non-null float64
Y2009           1 non-null float64
Y2010           1 non-null float64
Y2011           1 non-null float64
Y2012           1 non-null float64
Y2013           0 non-null float64
Y2014           0 non-null float64
Y2015           0 non-null float64
Y2016           0 non-null float64
Y2017           0 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Cashew nuts, with shell
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15346 to 15346
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           1 non-null float64
Y2005           1 non-null float64
Y2006           1 non-null float64
Y2007           1 non-null float64
Y2008           1 non-null float64
Y2009           1 non-null float64
Y2010           1 non-null float64
Y2011           1 non-null float64
Y2012           1 non-null float64
Y2013           1 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           1 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Cassava
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15349 to 15349
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           1 non-null float64
Y2005           1 non-null float64
Y2006           1 non-null float64
Y2007           1 non-null float64
Y2008           1 non-null float64
Y2009           1 non-null float64
Y2010           1 non-null float64
Y2011           1 non-null float64
Y2012           1 non-null float64
Y2013           1 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           1 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Castor oil seed
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15352 to 15352
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           0 non-null float64
Y2004           0 non-null float64
Y2005           0 non-null float64
Y2006           0 non-null float64
Y2007           0 non-null float64
Y2008           0 non-null float64
Y2009           0 non-null float64
Y2010           0 non-null float64
Y2011           0 non-null float64
Y2012           0 non-null float64
Y2013           0 non-null float64
Y2014           0 non-null float64
Y2015           0 non-null float64
Y2016           0 non-null float64
Y2017           0 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Chestnut
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15361 to 15361
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           0 non-null float64
Y1992           0 non-null float64
Y1993           0 non-null float64
Y1994           0 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           1 non-null float64
Y2005           1 non-null float64
Y2006           1 non-null float64
Y2007           1 non-null float64
Y2008           1 non-null float64
Y2009           1 non-null float64
Y2010           1 non-null float64
Y2011           1 non-null float64
Y2012           1 non-null float64
Y2013           1 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           1 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Chillies and peppers, dry
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15367 to 15367
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           0 non-null float64
Y1992           0 non-null float64
Y1993           0 non-null float64
Y1994           0 non-null float64
Y1995           0 non-null float64
Y1996           0 non-null float64
Y1997           0 non-null float64
Y1998           0 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           1 non-null float64
Y2005           1 non-null float64
Y2006           0 non-null float64
Y2007           0 non-null float64
Y2008           0 non-null float64
Y2009           0 non-null float64
Y2010           0 non-null float64
Y2011           0 non-null float64
Y2012           0 non-null float64
Y2013           0 non-null float64
Y2014           0 non-null float64
Y2015           0 non-null float64
Y2016           0 non-null float64
Y2017           0 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Cocoa, beans
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15373 to 15373
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           1 non-null float64
Y2005           1 non-null float64
Y2006           1 non-null float64
Y2007           1 non-null float64
Y2008           1 non-null float64
Y2009           1 non-null float64
Y2010           1 non-null float64
Y2011           1 non-null float64
Y2012           1 non-null float64
Y2013           1 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           1 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Coconuts
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15376 to 15376
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           1 non-null float64
Y2005           1 non-null float64
Y2006           1 non-null float64
Y2007           1 non-null float64
Y2008           1 non-null float64
Y2009           1 non-null float64
Y2010           1 non-null float64
Y2011           1 non-null float64
Y2012           1 non-null float64
Y2013           1 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           1 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Coffee, green
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 15379 to 25342
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           2 non-null float64
Y1996           2 non-null float64
Y1997           2 non-null float64
Y1998           2 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           2 non-null float64
Y2004           2 non-null float64
Y2005           2 non-null float64
Y2006           2 non-null float64
Y2007           2 non-null float64
Y2008           2 non-null float64
Y2009           2 non-null float64
Y2010           2 non-null float64
Y2011           2 non-null float64
Y2012           2 non-null float64
Y2013           2 non-null float64
Y2014           2 non-null float64
Y2015           2 non-null float64
Y2016           1 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 560.0+ bytes
Cooking bananas
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15382 to 15382
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           0 non-null float64
Y1992           0 non-null float64
Y1993           0 non-null float64
Y1994           0 non-null float64
Y1995           0 non-null float64
Y1996           0 non-null float64
Y1997           0 non-null float64
Y1998           0 non-null float64
Y1999           0 non-null float64
Y2000           0 non-null float64
Y2001           0 non-null float64
Y2002           0 non-null float64
Y2003           0 non-null float64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 15532 to 25489
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           2 non-null float64
Y1997           2 non-null float64
Y1998           2 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           2 non-null float64
Y2004           2 non-null float64
Y2005           2 non-null float64
Y2006           1 non-null float64
Y2007           1 non-null float64
Y2008           1 non-null float64
Y2009           1 non-null float64
Y2010           1 non-null float64
Y2011           1 non-null float64
Y2012           1 non-null float64
Y2013           1 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           1 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 560.0+ bytes
Oranges
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 15535 to 25492
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           2 non-null float64
Y1996           2 non-null float64
Y1997           2 non-null float64
Y1998           2 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           2 non-null float64
Y2004           2 non-null float64
Y2005           2 non-null float64
Y2006           2 non-null float64
Y2007           2 non-null float64
Y2008           2 non-null float64
Y2009           2 non-null float64
Y2010           2 non-null float64
Y2011           2 non-null float64
Y2012           2 non-null float64
Y2013           2 non-null float64
Y2014           2 non-null float64
Y2015           2 non-null float64
Y2016           2 non-null float64
Y2017           2 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 560.0+ bytes
Palm kernels
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15538 to 15538
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           0 non-null float64
Y2005           0 non-null float64
Y2006           0 non-null float64
Y2007           0 non-null float64
Y2008           0 non-null float64
Y2009           0 non-null float64
Y2010           0 non-null float64
Y2011           0 non-null float64
Y2012           0 non-null float64
Y2013           0 non-null float64
Y2014           0 non-null float64
Y2015           0 non-null float64
Y2016           0 non-null float64
Y2017           0 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Papayas
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 15541 to 25495
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           2 non-null float64
Y1996           2 non-null float64
Y1997           2 non-null float64
Y1998           2 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           2 non-null float64
Y2004           2 non-null float64
Y2005           2 non-null float64
Y2006           2 non-null float64
Y2007           2 non-null float64
Y2008           2 non-null float64
Y2009           2 non-null float64
Y2010           2 non-null float64
Y2011           2 non-null float64
Y2012           2 non-null float64
Y2013           2 non-null float64
Y2014           2 non-null float64
Y2015           2 non-null float64
Y2016           2 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 560.0+ bytes
Pepper (piper spp.)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15556 to 15556
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           1 non-null float64
Y2005           1 non-null float64
Y2006           1 non-null float64
Y2007           1 non-null float64
Y2008           1 non-null float64
Y2009           1 non-null float64
Y2010           1 non-null float64
Y2011           1 non-null float64
Y2012           1 non-null float64
Y2013           1 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           1 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Persimmons
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15559 to 15559
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           1 non-null float64
Y2005           1 non-null float64
Y2006           1 non-null float64
Y2007           1 non-null float64
Y2008           1 non-null float64
Y2009           1 non-null float64
Y2010           1 non-null float64
Y2011           1 non-null float64
Y2012           1 non-null float64
Y2013           1 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           1 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Pineapples
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 15562 to 25510
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           2 non-null float64
Y1996           2 non-null float64
Y1997           2 non-null float64
Y1998           2 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           2 non-null float64
Y2004           2 non-null float64
Y2005           2 non-null float64
Y2006           2 non-null float64
Y2007           1 non-null float64
Y2008           1 non-null float64
Y2009           1 non-null float64
Y2010           1 non-null float64
Y2011           1 non-null float64
Y2012           1 non-null float64
Y2013           1 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           1 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 560.0+ bytes
Pistachios
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 15565 to 25513
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           2 non-null float64
Y1996           2 non-null float64
Y1997           2 non-null float64
Y1998           2 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           2 non-null float64
Y2004           2 non-null float64
Y2005           2 non-null float64
Y2006           2 non-null float64
Y2007           2 non-null float64
Y2008           2 non-null float64
Y2009           2 non-null float64
Y2010           2 non-null float64
Y2011           2 non-null float64
Y2012           2 non-null float64
Y2013           2 non-null float64
Y2014           2 non-null float64
Y2015           2 non-null float64
Y2016           2 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 560.0+ bytes
Plantains and others
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15568 to 15568
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           0 non-null float64
Y1992           0 non-null float64
Y1993           0 non-null float64
Y1994           0 non-null float64
Y1995           0 non-null float64
Y1996           0 non-null float64
Y1997           0 non-null float64
Y1998           0 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           1 non-null float64
Y2005           1 non-null float64
Y2006           1 non-null float64
Y2007           1 non-null float64
Y2008           1 non-null float64
Y2009           1 non-null float64
Y2010           1 non-null float64
Y2011           1 non-null float64
Y2012           1 non-null float64
Y2013           1 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           0 non-null float64
Y2017           0 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Popcorn
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15574 to 15574
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           0 non-null float64
Y1992           0 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           0 non-null float64
Y2005           0 non-null float64
Y2006           0 non-null float64
Y2007           0 non-null float64
Y2008           0 non-null float64
Y2009           0 non-null float64
Y2010           0 non-null float64
Y2011           0 non-null float64
Y2012           0 non-null float64
Y2013           0 non-null float64
Y2014           0 non-null float64
Y2015           0 non-null float64
Y2016           0 non-null float64
Y2017           0 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Quinces
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15583 to 15583
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           1 non-null float64
Y2005           1 non-null float64
Y2006           1 non-null float64
Y2007           1 non-null float64
Y2008           1 non-null float64
Y2009           1 non-null float64
Y2010           1 non-null float64
Y2011           1 non-null float64
Y2012           1 non-null float64
Y2013           1 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           1 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Rice, paddy
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 15592 to 25531
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           2 non-null float64
Y1996           2 non-null float64
Y1997           2 non-null float64
Y1998           2 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           2 non-null float64
Y2004           2 non-null float64
Y2005           2 non-null float64
Y2006           2 non-null float64
Y2007           2 non-null float64
Y2008           2 non-null float64
Y2009           2 non-null float64
Y2010           2 non-null float64
Y2011           2 non-null float64
Y2012           2 non-null float64
Y2013           2 non-null float64
Y2014           2 non-null float64
Y2015           2 non-null float64
Y2016           2 non-null float64
Y2017           2 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 560.0+ bytes
Roots and tubers, nes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15595 to 15595
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           0 non-null float64
Y2005           0 non-null float64
Y2006           0 non-null float64
Y2007           0 non-null float64
Y2008           0 non-null float64
Y2009           0 non-null float64
Y2010           0 non-null float64
Y2011           0 non-null float64
Y2012           0 non-null float64
Y2013           0 non-null float64
Y2014           0 non-null float64
Y2015           0 non-null float64
Y2016           0 non-null float64
Y2017           0 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Rubber, natural
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15598 to 15598
Data columns (total 34 columns):
Area Code       1 non-null int64
Area            1 non-null object
Item Code       1 non-null int64
Item            1 non-null object
Element Code    1 non-null int64
Element         1 non-null object
Unit            1 non-null object
Y1991           1 non-null float64
Y1992           1 non-null float64
Y1993           1 non-null float64
Y1994           1 non-null float64
Y1995           1 non-null float64
Y1996           1 non-null float64
Y1997           1 non-null float64
Y1998           1 non-null float64
Y1999           1 non-null float64
Y2000           1 non-null float64
Y2001           1 non-null float64
Y2002           1 non-null float64
Y2003           1 non-null float64
Y2004           1 non-null float64
Y2005           1 non-null float64
Y2006           1 non-null float64
Y2007           1 non-null float64
Y2008           1 non-null float64
Y2009           1 non-null float64
Y2010           1 non-null float64
Y2011           1 non-null float64
Y2012           1 non-null float64
Y2013           1 non-null float64
Y2014           1 non-null float64
Y2015           1 non-null float64
Y2016           1 non-null float64
Y2017           1 non-null float64
dtypes: float64(27), int64(3), object(4)
memory usage: 280.0+ bytes
Safflower seed
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 15604 to 25537
Data columns (total 34 columns):
Area Code       2 non-null int64
Area            2 non-null object
Item Code       2 non-null int64
Item            2 non-null object
Element Code    2 non-null int64
Element         2 non-null object
Unit            2 non-null object
Y1991           2 non-null float64
Y1992           2 non-null float64
Y1993           2 non-null float64
Y1994           2 non-null float64
Y1995           2 non-null float64
Y1996           2 non-null float64
Y1997           2 non-null float64
Y1998           2 non-null float64
Y1999           2 non-null float64
Y2000           2 non-null float64
Y2001           2 non-null float64
Y2002           2 non-null float64
Y2003           2 non-null float64

#### Line plots

In [50]:
%matplotlib notebook

In [72]:
#Define time series
time = [1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]

In [56]:
maize = nap[nap["Item"] == "Maize"]

In [57]:
maize.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1991,Y1992,Y1993,...,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017
4352,33,Canada,56,Maize,5532,Producer Price (USD/tonne),USD,94.3,81.1,102.3,...,186.8,159.1,166.8,238.6,258.7,224.8,167.8,150.4,146.2,146.7
15448,138,Mexico,56,Maize,5532,Producer Price (USD/tonne),USD,234.2,245.9,246.5,...,253.1,207.4,222.9,328.2,304.5,263.5,234.4,216.0,189.2,190.7
25420,231,United States of America,56,Maize,5532,Producer Price (USD/tonne),USD,93.0,81.0,98.0,...,160.0,140.0,204.0,245.0,271.0,176.0,146.0,142.0,132.0,130.0

In [100]:
maizeM = maize.iloc[1,7:34].tolist()
maizeU = maize.iloc[2,7:34].tolist()
maizeC = maize.iloc[0,7:34].tolist()

In [120]:
nap.loc[nap.Item == "Maize", ["Area","Item","Y1991"]]

                           Area   Item  Y1991
4352                     Canada  Maize   94.3
15448                    Mexico  Maize  234.2
25420  United States of America  Maize   93.0

In [110]:
col = pd.DataFrame(data = maizeM, columns = ["MaizeMx"])
col.head()

   MaizeMx
0    234.2
1    245.9
2    246.5
3    194.4
4    170.1

In [128]:
Mexico = plt.plot(time, maizeM, color="green", label="Mexico")
US = plt.plot(time, maizeU, color="blue", label="United States")
Canada = plt.plot(time, maizeC, color="red", label="Canada")
plt.title("Maize price in USD per tonne")
plt.xlabel("Year")
plt.ylabel("USD")

Text(0, 0.5, 'USD')

We conclude from the plot above that the series for maize price by year are non-stationary. According to Box-Jenkins methodology, a minimum of 50 observations are required in order to conduct an Auto Regressive Time Series model.